/******* White Icons on Blue background hover *******/
.social-icons {
  // Global
  li {
    margin-right: 14px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      height: 32px;
      width: 32px;
      padding: 2px 0 0 3px;
      display: block;
      position: relative;
      border-radius: 2px;

      &:hover,
      &:focus {
        background: $hover-state-dark;
      }

      svg {
        height: 28px;
        width: 28px;
      }
    }
  }

  &_facebook,
  &_twitter,
  &_instagram {
    a {
      &:hover,
      &:focus {
        svg g path {
          fill: $grey-80;
        }
      }
    }
  }
}

/******* Color Social Media Hover *******/
#block-socialmedia {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -10px;

  #block-socialmedia-menu {
    opacity: 0;
    display: block;
    height: 0;
    padding: 0;
  }

  ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    li {
      // List Reset
      &::before {
        display: none;
      }

      a {
        display: block;
        width: 40px;
        height: 40px;
        padding: 2px 2px 0 2px;
        border-radius: 2px;
        font-size: 21px;
        text-align: center;

        &:hover {
          background: $hover-state;
        }

        &:focus {
          outline: 1px dotted $hover-state;
        }

        svg {
          text-align: center;
          margin: 0 auto;
          width: 36px;
          height: auto;
        }

        &.foot-facebook,
        &.foot-snapchat {
          &:hover {
            svg g path {
              &:nth-of-type(1) {
                fill: black;
              }

              &:nth-of-type(2) {
                fill: none;
              }
            }
          }
        }

        &.foot-twitter,
        &.foot-linkedin,
        &.foot-youtube {
          &:hover {
            svg g path {
              fill: $black;
            }
          }
        }

        &.foot-instagram {
          svg g {
            image {
              display: block;
            }

            path {
              display: none;
            }
          }

          &:hover {
            svg g {
              image {
                display: none;
              }

              path {
                display: block;
              }
            }
          }
        }

        &.foot-tictok {
          svg g {
            path {
              display: none;
            }

            g path {
              display: block;
            }
          }

          &:hover {
            svg g {
              path {
                display: block;
              }

              g {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.social-dark {
    margin-top: 12px;

    ul {
      margin: 0;
      justify-content: start;
    }

    li {
      margin-right: 4px;

      a {
        border-radius: 2px;
        height: 28px;
        width: 28px;

        svg {
          width: 24px;
        }

        &:hover {
          background: $hover-state-dark;
        }

        &:focus {
          outline: 1px dotted white;
          background: none;
        }
      }
    }

    a {
      svg g path {
        fill: white;
        display: inline !important;
      }

      &:hover {
        svg g path {
          fill: black;
        }
      }
    }
  }
}

#block-socialmedia {
  ul {
    padding-inline-start: 0;
  }
}
